.footer {
  background-color: var(--primary);
  color: var(--text-secondary);
  width: 100%;
  height: 200px;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer a {
  margin: 0 1rem;
}

.footer ::-moz-selection {
  background: var(--text-secondary);
  color: var(--primary);
}

.footer ::selection {
  background: var(--text-secondary);
  color: var(--primary);
}
