.homeContainer {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  max-width: 90%;
  margin: 5rem auto;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.textBlock {
  margin-bottom: 3rem;
}

.textBlock h2 {
  margin-bottom: 1rem;
}

.card {
  flex: 1;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid var(--primary-light);
  box-shadow: 6px 12px var(--primary-light);
  min-width: 350px;
  max-width: 600px;
}

.card ul {
  margin: 0 1rem;
}

.contactAction {
  text-align: center;
  margin: 6rem auto;
}

@media only screen and (max-width: 400px) {
  .card {
    width: 300px;
    min-width: auto;
  }
}
