.nav {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: var(--primary);
}

.brandTitle {
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--text-secondary);
}

.nav .navLinks {
  /* display: flex; */
  height: 100%;
}

.nav .navLinks ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.nav .navLinks ul li {
  height: 100%;
  padding: 0 1rem;
  list-style: none;
}

.nav .navLinks ul li:hover {
  background: var(--primary-hover);
}

.nav .navLinks ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: var(--text-secondary);
}

.nav .navLinks ul li:hover a {
  color: var(--text-secondary);
}

.active {
  background: var(--primary-hover);
}

.burger {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.burger:hover {
  background: var(--primary-hover);
}

.burger div span {
  display: block;
  height: 1px;
  width: 20px;
  margin: 5px;
  background-color: var(--text-secondary);
}

.hidden {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .nav {
    padding: 1rem 0;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
  }

  .burger {
    display: block;
  }

  .navLinks {
    background-color: var(--primary);
    z-index: 999;
  }

  .navLinks ul {
    flex-direction: column;
    width: 100%;
  }

  .nav .navLinks ul li {
    width: 100%;
    padding: 1.5rem;
    text-align: center;
  }
}
