.center {
  flex-direction: column;
}

.postContent {
  width: 100%;
}

.postContent {
  margin: 2rem 0;
}

.postContent .postHeader {
  margin-bottom: 6rem;
}

.postContent .postHeader h1 {
  margin: 1rem 0;
}
.postContent .postHeader h5 {
  margin: 0 0;
  font-weight: 400;
}

.postContent .postHeader img {
  display: block;
  max-width: 100%;
  max-height: 30em;
}

.postContent .postBody > * {
  margin: 1rem 0;
}

.postContent .postBody blockquote {
  margin: 3rem 0 3rem 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
  font-style: italic;
}

.postContent .postBody pre {
  display: flex;
  justify-content: flex-start;
}

.postContent .postBody a {
  text-decoration: underline;
}

.postContent .postBody p {
  margin: 1rem 0 2.5rem 0;
}

.postContent .postBody img {
  display: block;
  max-width: 100%;
  max-height: 30em;
}

.actionButtonContainer {
  display: flex;
}
